<a href="https://colab.research.google.com/github/irfan-200/MachineLearningUsingFlask/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

# Sample data for sales transactions and customer information

sales_data = {

    'TransactionID': [1, 2, 3, 4, 5],

    'CustomerID': [101, 102, 103, 104, 101],

    'Amount': [250, 300, 400, 500, 600],

    'Date': ['2025-01-01', '2025-01-02', '2025-01-03', '2025-01-04', '2025-01-05']

}

customer_data = {

    'CustomerID': [101, 102, 103, 104],

    'CustomerName': ['Alice', 'Bob', 'Charlie', 'David'],

    'Age': [30, 35, 40, 25],

    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston']

}

# Convert data into DataFrame

sales_df = pd.DataFrame(sales_data)

customers_df = pd.DataFrame(customer_data)

# Show basic structure of sales_df

print("Sales DataFrame:")

print(sales_df.head())

# 1. Exploring the dataset (using shape and describe)

print("\nShape of sales data:", sales_df.shape)  # Get number of rows and columns

print("\nSales data statistics:")

#print(sales_df.describe())  # Summary statistics

print("Sales dataframe",sales_df)

print("customers_df",customers_df)

Sales DataFrame:
   TransactionID  CustomerID  Amount        Date
0              1         101     250  2025-01-01
1              2         102     300  2025-01-02
2              3         103     400  2025-01-03
3              4         104     500  2025-01-04
4              5         101     600  2025-01-05

Shape of sales data: (5, 4)

Sales data statistics:
Sales dataframe    TransactionID  CustomerID  Amount        Date
0              1         101     250  2025-01-01
1              2         102     300  2025-01-02
2              3         103     400  2025-01-03
3              4         104     500  2025-01-04
4              5         101     600  2025-01-05
customers_df    CustomerID CustomerName  Age         City
0         101        Alice   30     New York
1         102          Bob   35  Los Angeles
2         103      Charlie   40      Chicago
3         104        David   25      Houston

In [ ]:
merged_df = pd.merge(sales_df, customers_df, on='CustomerID', how='inner')
print("\nMerged DataFrame:")
print (merged_df)

Merged DataFrame:
   TransactionID  CustomerID  Amount        Date CustomerName  Age  \
0              1         101     250  2025-01-01        Alice   30
1              2         102     300  2025-01-02          Bob   35
2              3         103     400  2025-01-03      Charlie   40
3              4         104     500  2025-01-04        David   25
4              5         101     600  2025-01-05        Alice   30

          City
0     New York
1  Los Angeles
2      Chicago
3      Houston
4     New York

In [ ]:
merged_df = pd.merge(sales_df, customers_df, on='CustomerID', how='outer')
print("\nMerged DataFrame:")
print (merged_df)

Merged DataFrame:
   TransactionID  CustomerID  Amount        Date CustomerName  Age  \
0              1         101     250  2025-01-01        Alice   30
1              5         101     600  2025-01-05        Alice   30
2              2         102     300  2025-01-02          Bob   35
3              3         103     400  2025-01-03      Charlie   40
4              4         104     500  2025-01-04        David   25

          City
0     New York
1     New York
2  Los Angeles
3      Chicago
4      Houston

In [ ]:
merged_df = pd.merge(sales_df, customers_df, on='CustomerID', how='right')
print("\nMerged DataFrame:")
print (merged_df)

Merged DataFrame:
   TransactionID  CustomerID  Amount        Date CustomerName  Age  \
0              1         101     250  2025-01-01        Alice   30
1              5         101     600  2025-01-05        Alice   30
2              2         102     300  2025-01-02          Bob   35
3              3         103     400  2025-01-03      Charlie   40
4              4         104     500  2025-01-04        David   25

          City
0     New York
1     New York
2  Los Angeles
3      Chicago
4      Houston

In [ ]:
merged_df = pd.merge(sales_df, customers_df, on='CustomerID', how='left')
print("\nMerged DataFrame:")
print (merged_df)

Merged DataFrame:
   TransactionID  CustomerID  Amount        Date CustomerName  Age  \
0              1         101     250  2025-01-01        Alice   30
1              2         102     300  2025-01-02          Bob   35
2              3         103     400  2025-01-03      Charlie   40
3              4         104     500  2025-01-04        David   25
4              5         101     600  2025-01-05        Alice   30

          City
0     New York
1  Los Angeles
2      Chicago
3      Houston
4     New York

In [ ]:
customers = [
    (101, 500),
    (102, 300),
    (103, 200),
    (104, 400),
    (105, 600)
]
result = [customer[0] for customer in customers if customer[1] > 400]
print("customer IDs with amount >400:",result)

customer IDs with amount >400: [101, 105]